{% extends "TSCoreBundle::layout.html.twig" %}

{% block title %}
    Page d'accueil de notre site - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Page d'accueil de notre site</h1>
{% endblock %}